.App {
  text-align: center;
}

.excercise2 {
  display: flex;
  background-color: gray;
  padding: 20px;
  border-radius: 10px;
}

.guarantee {
  margin: auto;
  flex: 2;
  padding: 10px;
}

.btn {
  padding: 10px;
  margin-right: 10px;
  background-color: midnightblue;
  color: white;
  border-radius: 10px;
}

.btn:focus {
  outline: none;
}
